.clients {
  padding: 94px 0;
}

.clients-logos-list {
  display        : flex;
  justify-content: center;
  gap            : 30px;
}

.clients-title {
  color         : $titleTextColor;
  text-align    : center;
  font-size     : 36px;
  font-weight   : 700;
  letter-spacing: 1.08px;
  margin-bottom : 50px;
}

.clients-link {
  display         : flex;
  align-items     : center;
  justify-content : center;
  width           : 170px;
  height          : 92px;
  border          : 1px solid $primaryTextColor;
  fill            : $primaryTextColor;
  border-radius   : 4px;
  background-color: $primaryBackgroundColor;
  transition      : border, fill $transition;

  &:hover,
  &:focus {
    border: 1px solid $accentColor;
    fill  : $accentColor;
  }
}
@media screen and (max-width:$phone) {
  .clients-logos-list{
    display: flex;
    flex-basis: calc((100% - 2*30px) / 2);
    flex-wrap: wrap;
  }
  .clients-link{
    width: 210px;
    height: 92px;
  }
}