.clients {
  padding: 94px 0;
}

.clients-logos-list {
  display        : flex;
  justify-content: center;
  gap            : 30px;
}

.clients-title {
  color         : $titleTextColor;
  text-align    : center;
  font-size     : 36px;
  font-weight   : 700;
  letter-spacing: 1.08px;
  margin-bottom : 50px;
}

.clients-link {
  @extend %centered;
  width           : 170px;
  height          : 92px;
  border          : 1px solid $primaryTextColor;
  fill            : $primaryTextColor;
  border-radius   : 4px;
  background-color: $primaryBackgroundColor;
  transition      : border $transition, fill $transition;

  &:hover,
  &:focus {
    border: 1px solid $accentColor;
    fill  : $accentColor;
  }
}
@media screen and (min-width:$phone) and (max-width:$desktop){
  .clients-title{
    font-size: 28px;
    letter-spacing: 0.84px;
  }
  .clients-logos-list{
    flex-wrap: wrap;
  }
  .clients-link{
    width: 210px;
  }
}
@media screen and (min-width:$tablet) and (max-width:$desktop){
  .clients-link{
    width: 226px;
  }
}