.features {
  padding: 94px 0;
}

.features-icon-bg {
  width           : 270px;
  height          : 120px;
  display         : flex;
  justify-content : center;
  align-items     : center;
  border-radius   : 4px;
  background-color: $secondaryBackgroundColor;
}

.features-list {
  display        : flex;
  justify-content: center;
  gap            : 30px;
}

.features-title {
  display: none;
}

.features-subtitle {
  color         : $titleTextColor;
  margin-top    : 30px;
  margin-bottom : 10px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  font-weight   : 700;
  font-size     : 14px;
  line-height   : 1.2;
}

.features-text {
  color         : $primaryTextColor;
  letter-spacing: 0.42px;
  font-weight   : 400;
  font-size     : 14px;
  line-height   : 1.7;
}
@media screen and (max-width:$phone) {
  .features{
    padding: 60px 0;
  }
  .features-list{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 15px;
    flex-direction: column;
  }
  .features-subtitle{
    text-align: center;
  }
  .features-icon-bg{
    width: 450px;
    height: 120px;
  }
}