body {
    font-family : "Roboto", sans-serif;
}

.container {
    width  : 1170px;
    padding: 0 15px;
    margin : 0 auto;
}
@media screen and (max-width: $phone) {
    .container{
    max-width: 480px;
    overflow: hidden;
    width: 100%;
    }
}

a {
    transition: $transition;
}